@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Manjari, sans-serif;
    font-weight: 300;
    color: black;
    background-color: #bbccff;
}

/* headings and logo */

h1, h2 {
font-family: Manjari, sans-serif;
letter-spacing: 4px;
color: #252525;
   
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active {
border-bottom: 1px solid #3a3a3a;
}
   
/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}

/* yoga*/

#yoga, #meditation {
    height: 600px;
    margin-left: 150px;
    ;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left; 
    margin-bottom: ;  
    
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
}



      


#right-about-med {
    padding-top: 30px;
    width: 50%;
    float: right;
}


#med-img {
    background: url(../images/meditate-image.jpg) no-repeat center center;
    height: 100%;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100% ;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 100px;
}

.right-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 122px;
    margin-right: 50px;
}

/* sign up form */

.signup-box {
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 200px;
    border-radius: 3px;
}

h1 {
font-size: 200%;
padding-top: 15px;
}

form {
    width: 300px;
    margin-top: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 300px;
    padding: 7px;
    border: none;
    border: 1px solid #3a3a3a;
    border-radius: 6px;
    outline: none;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: tomato;
    color: white;
    font-size: 18px;
}


/* footer */

footer {
    height: 150px;
    margin-top: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* media queries */

/* for larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1200px) {

#yoga, #meditation {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
    }
#left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;
}
hr {
    display: none;
}
}

/* for media screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {

#menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
}
#yoga, #meditation {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
}
.left-about-heading, .right-about-heading {
    width: inherit;
}
.left-about-heading h2, .right-about-heading h2 {
    width: 100%;
    text-align: center;
}
.left-about-heading p, .right-about-heading p {
    text-align: center;
    padding: 0 20px;
}
}

    
