@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Manjari, sans-serif;
    font-weight: 300;
    color: black;
    background-color: #bbccff;
}

/* headings and logo */

h1, h2 {
font-family: Manjari, sans-serif;
letter-spacing: 4px;
color: #252525;
   
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active {
border-bottom: 1px solid #3a3a3a;
}
   
/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}

/* yoga*/

#yoga, #meditation {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
    background-color: white;
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
    background-color: red;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100% ;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 100px;
}

.right-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 140px;
