@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Montserrat&display=swap');

* {
     margin: 0;
     padding: 0;
     border: none;
}
body {
     font-family: Manjari, Helvetica, sans-serif;
     font-weight: 300;
     background-color: #bbccff;
}

/* headings and logo*/

h1, h2 {
     width:500px;
     margin: 0 auto;
     text-align: center;
     font-family: Manjari, Helvetica, sans-serif;
     letter-spacing: 4px;
     font-weight: bolder;
     
}

h1 {
     font-size: 300%;
    
}


/* navigation links*/

#menu {
     font-size: 110%;
     letter-spacing: 3px;
     display: block;
}

#menu li {
float: left;
list-style-type: none;
margin-left: 30px;
}

#menu a {
     text-decoration: none;
     color: inherit;
}

#menu {
     line-height: 75px;
}

#menu a:hover {
     border-bottom: 1px solid #3a3a3a;
}
.active {
     border-bottom: 1px solid #3a3a3a;
}

/* images on landing page*/

#yoga-image {
     height: 600px;
     width: 40%;
     background-image: url('../images/yoga-image-(2).jpg'); 
     background-repeat: no-repeat;
     float: left;
     margin-left: 10px;
}

#meditate-image {
     
          height: 600px;
          width: 35%;
          background-image: url('../images/meditate-image.jpg'); 
          background-repeat: no-repeat;
          float: right;
          margin-right: 5px;
       
        
     
}
     
/* yoga class*/

#yoga-class{
     height: 600%;
     position: relative;
     top: 300px;
  
    
}

#left-yoga{
     padding-top: 30px;
     width: 50%;
     float: left;
     background-color: red;
}

#right-yoga{
     padding-top: 30px;
     width: 50%;
     float: right;
     background-color: white;
}
.left-yoga-heading{
     width: 60%;
     float:right;
     line-height: 20px;
     clear: both;
     margin-bottom: 50px;
     position: relative;
     bottom: 550px;
}
